/*===========================================*/
/* Colors */
/*===========================================*/
$cPrimary: #4541ff;
$cPrimaryShade1: #3e3be6;

$cSecondary: #00a8cc;
$cDark: #00031a;
$cLight: #8695a4;
$cLightOverlay: rgba(134, 149, 164, 0.95);
/*===========================================*/
