@import "fonts", "colors", "mixins";

/*===========================================*/
// Variables
/*===========================================*/
// Main content area width
// Header menu width

// =======================
// =======================
// Breakpoints
$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1248px,
    "desktop-wide": 1440px,
);
// 40
$phoneRem: calc(map_get($breakpoints, phone) / 10 / 1px);
// 48
$phone-wideRem: calc(map_get($breakpoints, phone-wide) / 10 / 1px);
// 56
$phabletRem: calc(map_get($breakpoints, phablet) / 10 / 1px);
// 64
$tablet-smallRem: calc(map_get($breakpoints, tablet-small) / 10 / 1px);
// 76.8
$tabletRem: calc(map_get($breakpoints, tablet) / 10 / 1px);
// 102.4
$tablet-wideRem: calc(map_get($breakpoints, tablet-wide) / 10 / 1px);
// 124.8
$desktopRem: calc(map_get($breakpoints, desktop) / 10 / 1px);
// 144
$desktop-wideRem: calc(map_get($breakpoints, desktop-wide) / 10 / 1px);

// Use this to get a value from this map
// map-get($breakpoints, "phone");
/*===========================================*/
//  Imports
/*===========================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.7rem rgba(134, 149, 164, 0.5);
}

html {
    /* decreases default root element font size to 10px from 16px */
    // font-size: 62.5%;
    // font-size: calc(10 / 16) * 100% !important;

    @media (width > ($desktopRem*10 + px)) {
        font-size: calc(10 / 16) * 100%;
    }
    @media (max-width: ($tabletRem*10+px)) {
        font-size: calc(9 / 16) * 100% !important;
    }
    @media (width < ($phone-wideRem*10+px)) {
        font-size: calc(8 / 16) * 100% !important;
    }
}

// Default font-family
$fontFamily: "Montserrat";

body {
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
    font-family: $fontFamily, sans-serif;
    line-height: 1;
    font-weight: 400;
    color: $cDark;
}

/*===========================================*/

/*===========================================*/
// Text styles
._text {
    font-size: 1.6rem;
    line-height: 2.4rem;
}

/*===========================================*/
// Default styling classes
._centered {
    margin: 0 auto;
}

._full-width {
    align-self: stretch;
}

.wrapper {
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    flex-direction: column;
    align-items: center;

    // &._loaded {
    // }
}

// adaptive image
._adaptive {
    width: 100%;
    height: 100%;
    object-position: 0 0;
    object-fit: cover;
}

// Main adaptive container
._container {
    // @extend %main-adaptive-grid-desktop;
    @include create-responsive-container(desktop);
}
/*===========================================*/

/*===========================================*/
/*===========================================*/
/*===========================================*/
